body {
    background: rgb(125, 125, 243);
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.219);
}

fieldset {
    border: none;
    text-align: center;
    margin-bottom: -10px;
}

fieldset label,
fieldset input {
    margin-right: 0.5em;
}

div#tabuada {
    text-align: center;
}

select {
    margin-top: -10px;
    width: 80%;
}

#limpar {
    margin-top: 1em;
    margin-left: 10%;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}