* {
    margin: 0;
    padding: 0
}

body {
    background-color: darkseagreen;
}

h1 {
    font-family: 'Pacifico', cursive;
    font-weight: 500;
    text-align: center;
    margin-top: 0.5em;
}

#content {
    margin: 2em 4em;
    background-color: wheat;
    padding: 2em;
    text-align: center;
}

#divnome {
    margin-bottom: 1em;
}

p {
    font-size: 20px;
}

#txtnome {
    padding: 1em;
    width: 90%;
}

#gerar, #tentativa {
    padding: 1em;
    /* width: 50%; */
    
}

hr {
    margin-top: 2em;
    border: 0.1px solid black;

}

#resultado {
    margin-top: 2em;
}

table {
    width: 90%;
    margin: 0 auto;
    padding: 0.5em;
    font-size: 20px;
    text-align: center;
    background-color: white;
    /* border: 1px solid black; */
}

th, td {
    width: fit-content;
    padding: 0 auto;
    padding-right: 1em;
    padding-bottom: 0.5em;
}

#msg {
    margin-top: 1em;
    font-size: 20px;
}

@media (max-width: 700px) {
    
    #gerar, #limpar {
        width: 40%;
    }
    
    table {
        width: fit-content;
        font-size: 16px;
    }
}
